$light: #e6e6e6;
$button: #1767a0;
$midColor: rgba(230, 230, 230, 0.5);
$dark: #04375a;
$textDark: #424242;
$textMid: rgba(66, 66, 66, 0.6);
$textLight: #fff;
$comfortaa: comfortaa;
$baron: Baron Neue;
$darkBg: #111;
